doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header 
        h1 #{title}
    .navbar 
        - if(title != 'Products')
            a(href='/') Home
        a(href='basket') Basket
    .container
        block content
    footer
        p Created for EUROSTAR by Latir Cole-Etti using Node, Express, Jade and Mongoose
