doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header 
        h1 #{title}
    .navbar Checkout
    .container
        block content
    footer
        p Created for EUROSTAR by Latir Cole-Etti using Node, Express, Jade and Mongoose
